flask
flask_cors
pymysql
flask_sqlalchemy
flask_jwt_extended
beautifulsoup4
flask_migrate
selenium
scikit-learn
pandas
numpy
mxnet 
gluonnlp
tqdm
sentencepiece
transformers
torch 
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf